
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Alchemy Rank Solution</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" href="../static/vendors/css/vendor.bundle.base.css" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../static/vendors/jvectormap/jquery-jvectormap.css" th:href="@{/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" href="../static/vendors/owl-carousel-2/owl.carousel.min.css" th:href="@{/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" href="../static/vendors/owl-carousel-2/owl.theme.default.min.css" th:href="@{/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/homepage.css" th:href="@{/css/homepage.css}"/>
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/custom.css" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/logo.css" th:href="@{/css/logo.css}"/>
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.png}" />
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="/panel">
                <span style="font-size: 1.5rem; font-weight: bold; background: linear-gradient(135deg, #9f5afd 0%, #ef27d4 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text;">Alchemy</span>
            </a>
            <a class="sidebar-brand brand-logo-mini" href="/panel">
                <span style="font-size: 1.2rem; font-weight: bold; background: linear-gradient(135deg, #9f5afd 0%, #ef27d4 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text;">A</span>
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator" th:if="${user} != null">
                            <img class="img-xs rounded-circle" th:src="@{'https://visage.surgeplay.com/bust/48/' + ${user.getNiceUUID()} + '?overlay=true&scale=3'}">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name" th:if="${user} != null">
                            <h5 class="mb-0 font-weight-normal" th:text="${user.username}"></h5>
                            <span>Administrator</span>
                        </div>
                    </div>
                    <a href="#" id="profile-dropdown" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                    <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                        <a th:href="@{/settings/account}" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-settings text-primary"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/panel">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/panel">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
                    <span class="menu-title">Performance</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/panel">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
                    <span class="menu-title">Panel Control</span>
                </a>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Models</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/api/users">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
                    <span class="menu-title">Users</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/api/ranks">
              <span class="menu-icon">
                <i class="mdi mdi-trophy-award"></i>
              </span>
                    <span class="menu-title">Ranks</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/api/servers">
              <span class="menu-icon">
                <i class="mdi mdi-server-network"></i>
              </span>
                    <span class="menu-title">Servers</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/panel">
              <span class="menu-icon">
                <i class="mdi mdi-currency-usd"></i>
              </span>
                    <span class="menu-title">Grants</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/api/punishments">
              <span class="menu-icon">
                <i class="mdi mdi-hammer"></i>
              </span>
                    <span class="menu-title">Punishments</span>
                </a>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Learn About</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/panel">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
                    <span class="menu-title">Documentation</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="/panel">
                    <span class="brand-logo-mini-text">A</span>
                </a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100">
                        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" th:action="@{/api/search}" method="get">
                            <input type="text" name="q" class="form-control" placeholder="Search ranks, users..." required>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-settings d-none d-lg-block">
                        <button id="theme-toggle" class="nav-link theme-toggle" onclick="toggleTheme()" title="Toggle theme">
                            <i class="mdi mdi-weather-sunny"></i>
                        </button>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                            <div class="navbar-profile" th:if="${user} != null">
                                <img class="img-xs rounded-circle"
                                     th:src="@{'https://visage.surgeplay.com/bust/48/' + ${user.getNiceUUID()} + '?overlay=true&scale=3'}">
                                <p class="mb-0 d-none d-sm-block navbar-profile-name" th:text="${user.username}"></p>
                                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                             aria-labelledby="profileDropdown">
                            <h6 class="p-3 mb-0">Profile</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item" th:href="@{/settings/account}">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item" th:href="@{/logout}">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Log out</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="p-3 mb-0 text-center">Advanced settings</p>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <!-- RANK CARD -->
                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0" th:text="${rankSize}"></h3>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="text-muted font-weight-normal">Current Ranks</h6>
                            </div>
                        </div>
                    </div>
                    <!-- ACTIVE USER CARD -->
                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0" th:text="${userCount}"></h3>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="text-muted font-weight-normal">Online Players</h6>
                            </div>
                        </div>
                    </div>
                    <!-- SERVERS CARD -->
                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0" th:text="${serverCount}"></h3>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="text-muted font-weight-normal">Servers on Network</h6>
                            </div>
                        </div>
                    </div>
                    <!-- SERVERS CARD -->
                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0" th:text="${grantCount ?: 0}"></h3>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="text-muted font-weight-normal">Total Grants</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Quick Links</h4>
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <a th:href="@{/api/users}" class="text-decoration-none">
                                            <div class="d-flex align-items-center p-3 border rounded" style="background: var(--theme-bg-primary); border-color: var(--theme-border) !important;">
                                                <div class="preview-icon bg-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
                                                    <i class="mdi mdi-contacts text-white"></i>
                                                </div>
                                                <div class="ml-4">
                                                    <h6 class="mb-0" style="color: var(--theme-text-primary);">Users</h6>
                                                    <small class="text-muted">Manage players</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <a th:href="@{/api/ranks}" class="text-decoration-none">
                                            <div class="d-flex align-items-center p-3 border rounded" style="background: var(--theme-bg-primary); border-color: var(--theme-border) !important;">
                                                <div class="preview-icon bg-warning rounded-circle d-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
                                                    <i class="mdi mdi-trophy-award text-white"></i>
                                                </div>
                                                <div class="ml-3">
                                                    <h6 class="mb-0" style="color: var(--theme-text-primary);">Ranks</h6>
                                                    <small class="text-muted">Manage ranks</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <a th:href="@{/api/servers}" class="text-decoration-none">
                                            <div class="d-flex align-items-center p-3 border rounded" style="background: var(--theme-bg-primary); border-color: var(--theme-border) !important;">
                                                <div class="preview-icon bg-info rounded-circle d-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
                                                    <i class="mdi mdi-server-network text-white"></i>
                                                </div>
                                                <div class="ml-3">
                                                    <h6 class="mb-0" style="color: var(--theme-text-primary);">Servers</h6>
                                                    <small class="text-muted">Monitor servers</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <a th:href="@{/api/punishments}" class="text-decoration-none">
                                            <div class="d-flex align-items-center p-3 border rounded" style="background: var(--theme-bg-primary); border-color: var(--theme-border) !important;">
                                                <div class="preview-icon bg-danger rounded-circle d-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
                                                    <i class="mdi mdi-hammer text-white"></i>
                                                </div>
                                                <div class="ml-3">
                                                    <h6 class="mb-0" style="color: var(--theme-text-primary);">Punishments</h6>
                                                    <small class="text-muted">View punishments</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">System Overview</h4>
                                <div class="d-flex justify-content-between align-items-center mb-3 pb-3 border-bottom" style="border-color: var(--theme-border) !important;">
                                    <div>
                                        <p class="mb-0 text-muted">Total Users</p>
                                        <h4 class="mb-0" th:text="${userCount}">0</h4>
                                    </div>
                                    <div class="preview-icon bg-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
                                        <i class="mdi mdi-account-multiple text-white"></i>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mb-3 pb-3 border-bottom" style="border-color: var(--theme-border) !important;">
                                    <div>
                                        <p class="mb-0 text-muted">Total Ranks</p>
                                        <h4 class="mb-0" th:text="${rankSize}">0</h4>
                                    </div>
                                    <div class="preview-icon bg-warning rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
                                        <i class="mdi mdi-trophy-award text-white"></i>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mb-3 pb-3 border-bottom" style="border-color: var(--theme-border) !important;">
                                    <div>
                                        <p class="mb-0 text-muted">Active Servers</p>
                                        <h4 class="mb-0" th:text="${serverCount}">0</h4>
                                    </div>
                                    <div class="preview-icon bg-info rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
                                        <i class="mdi mdi-server-network text-white"></i>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="mb-0 text-muted">Total Grants</p>
                                        <h4 class="mb-0" th:text="${grantCount ?: 0}">0</h4>
                                    </div>
                                    <div class="preview-icon bg-success rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
                                        <i class="mdi mdi-check-circle text-white"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Alchemy Rank Solution 2024</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Alchemy Management Panel</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/vendors/progressbar.js/progressbar.min.js}"></script>
<script th:src="@{/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
<script th:src="@{/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{/js/theme.js}"></script>
<script th:src="@{/js/menu.js}"></script>
<!-- End custom js for this page -->
</body>
</html>