<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />'

    <title>Alchemy Rank Solution</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css"
          th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" href="../static/vendors/css/vendor.bundle.base.css"
          th:href="@{/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../static/vendors/select2/select2.min.css"
          th:href="@{/vendors/select2/select2.min.css}">
    <link rel="stylesheet" href="../static/vendors/select2-bootstrap-theme/select2-bootstrap.min.css"
          th:href="@{/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}">
    <!-- Cool components that I wanna use -->
    <link rel="stylesheet" th:href="@{/scss/components/_checkbox-radio.scss}">
    <link rel="stylesheet" th:href="@{/scss/components/_forms.scss}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/homepage.css" th:href="@{/css/homepage.css}"/>
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/custom.css" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/logo.css" th:href="@{/css/logo.css}"/>
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.png}"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="/panel">
                <span class="brand-logo-text">Alchemy</span>
            </a>
            <a class="sidebar-brand brand-logo-mini" href="/panel">
                <span class="brand-logo-mini-text">A</span>
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator" th:if="${user} != null">
                            <img class="img-xs rounded-circle"
                                 th:src="@{'https://visage.surgeplay.com/bust/48/' + ${user.getNiceUUID()} + '?overlay=true&scale=3'}">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name" th:if="${user} != null">
                            <h5 class="mb-0 font-weight-normal" th:text="${user.username}"></h5>
                            <span>Administrator</span>
                        </div>
                    </div>
                    <a href="#" id="profile-dropdown" data-bs-toggle="dropdown"><i
                            class="mdi mdi-dots-vertical"></i></a>
                    <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                         aria-labelledby="profile-dropdown">
                        <a th:href="@{/settings/account}" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-settings text-primary"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/panel">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/panel">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
                    <span class="menu-title">Performance</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/panel">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
                    <span class="menu-title">Panel Control</span>
                </a>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Models</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/api/users">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
                    <span class="menu-title">Users</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/api/ranks">
              <span class="menu-icon">
                <i class="mdi mdi-trophy-award"></i>
              </span>
                    <span class="menu-title">Ranks</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/api/servers">
              <span class="menu-icon">
                <i class="mdi mdi-server-network"></i>
              </span>
                    <span class="menu-title">Servers</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/panel">
              <span class="menu-icon">
                <i class="mdi mdi-currency-usd"></i>
              </span>
                    <span class="menu-title">Grants</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/api/punishments">
              <span class="menu-icon">
                <i class="mdi mdi-hammer"></i>
              </span>
                    <span class="menu-title">Punishments</span>
                </a>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Learn About</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/panel">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
                    <span class="menu-title">Documentation</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="/panel">
                    <span class="brand-logo-mini-text">A</span>
                </a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100">
                        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" th:action="@{/api/search}" method="get">
                            <input type="text" name="q" class="form-control" placeholder="Search ranks, users..." required>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-settings d-none d-lg-block">
                        <button id="theme-toggle" class="nav-link theme-toggle" onclick="toggleTheme()" title="Toggle theme">
                            <i class="mdi mdi-weather-sunny"></i>
                        </button>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                            <div class="navbar-profile" th:if="${user} != null">
                                <img class="img-xs rounded-circle"
                                     th:src="@{'https://visage.surgeplay.com/bust/48/' + ${user.getNiceUUID()} + '?overlay=true&scale=3'}">
                                <p class="mb-0 d-none d-sm-block navbar-profile-name" th:text="${user.username}"></p>
                                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                             aria-labelledby="profileDropdown">
                            <h6 class="p-3 mb-0">Profile</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item" th:href="@{/settings/account}">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item" th:href="@{/logout}">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Log out</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="p-3 mb-0 text-center">Advanced settings</p>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title"> Ranks </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/panel">Models</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Ranks</li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title" th:text="'Editing the ' + ${rank.displayName} + ' rank (' + ${rank.id} + ')'"></p>
                                <p class="card-description"> Input values to change them in Mongo.</p>
                                <form class="forms-sample" th:action="@{'/api/change-rank/' + ${rank.id}}" method="post">
                                    <div class="form-group">
                                        <label th:for="displayname">
                                            Display Name
                                            <i class="mdi mdi-information-outline" 
                                               data-toggle="tooltip" 
                                               data-placement="right" 
                                               title="Change the display name of this rank. Changing the display name causes parts of the plugin to use the display name instead of just the regular rank id"></i>
                                        </label>
                                        <input type="text" th:id="displayName" th:name="displayName" class="form-control"
                                               th:placeholder="${rank.displayName}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="prefix">
                                            Prefix
                                            <i class="mdi mdi-information-outline" 
                                               data-toggle="tooltip" 
                                               data-placement="right" 
                                               title="Change the prefix of this rank. This prefix will show in public chat as well as some display parts of the server"></i>
                                        </label>
                                        <input type="text" th:id="prefix" th:name="prefix" class="form-control" id="prefix"
                                               th:placeholder="${rank.prefix}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="color">
                                            Color
                                            <i class="mdi mdi-information-outline" 
                                               data-toggle="tooltip" 
                                               data-placement="right" 
                                               title="Change the display color of this rank. This color will show in /list and menu aspects"></i>
                                        </label>
                                        <input type="text" th:id="color" th:name="color" class="form-control" id="color"
                                               th:placeholder="${rank.color}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="weight">
                                            Weight
                                            <i class="mdi mdi-information-outline" 
                                               data-toggle="tooltip" 
                                               data-placement="right" 
                                               title="Change the priority of the rank. This change will affect display order and server punishment/grant handling"></i>
                                        </label>
                                        <input type="text" th:id="weight" th:name="weight" class="form-control" id="weight"
                                               th:placeholder="${rank.weight}">
                                    </div>
                                    <button type="submit" class="btn btn-primary me-2" 
                                            data-toggle="tooltip" 
                                            data-placement="top" 
                                            title="Save all changes to MongoDB">Confirm Changes</button>
                                    <a th:href="@{/api/ranks}" class="btn btn-dark">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Permissions Section -->
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Permissions
                                    <i class="mdi mdi-information-outline" 
                                       data-toggle="tooltip" 
                                       data-placement="right" 
                                       title="Permissions are used to give this rank command and features for anyone with this rank granted"></i>
                                </h4>
                                <p class="card-description">Manage permissions for this rank</p>
                                
                                <!-- Add Permission Form -->
                                <form class="forms-sample mb-4" th:action="@{'/api/change-rank/' + ${rank.id}}" method="post">
                                    <input type="hidden" name="permissionAction" value="add">
                                    <div class="form-group">
                                        <label>Add Permission</label>
                                        <div class="input-group">
                                            <input type="text" name="permission" class="form-control" placeholder="e.g., alchemist.website.ranks" required>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-success" 
                                                        data-toggle="tooltip" 
                                                        data-placement="top" 
                                                        title="Add this permission to the rank">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                
                                <!-- Current Permissions -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Permission</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="perm : ${rank.permissions}">
                                            <td><code th:text="${perm}"></code></td>
                                            <td>
                                                <form class="d-inline" th:action="@{'/api/change-rank/' + ${rank.id}}" method="post">
                                                    <input type="hidden" name="permission" th:value="${perm}">
                                                    <input type="hidden" name="permissionAction" value="remove">
                                                    <button type="submit" class="btn btn-sm btn-danger" 
                                                            data-toggle="tooltip" 
                                                            data-placement="top" 
                                                            title="Remove this permission from the rank">Remove</button>
                                                </form>
                                            </td>
                                        </tr>
                                        <tr th:if="${rank.permissions == null || rank.permissions.isEmpty()}">
                                            <td colspan="2" class="text-center text-muted">No permissions assigned</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <!-- All Permissions (Inherited) -->
                                <div class="mt-4" th:if="${allPermissions != null && !allPermissions.isEmpty()}">
                                    <h5>All Permissions (Including Inherited)</h5>
                                    <div class="table-responsive">
                                        <table class="table table-sm">
                                            <thead>
                                            <tr>
                                                <th>Permission</th>
                                                <th>Source</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="perm : ${allPermissions}">
                                                <td><code th:text="${perm}"></code></td>
                                                <td>
                                                    <span th:if="${rank.permissions.contains(perm)}" class="badge badge-primary">Direct</span>
                                                    <span th:if="${!rank.permissions.contains(perm)}" class="badge badge-info">Inherited</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Parent Ranks Section -->
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Parent Ranks
                                    <i class="mdi mdi-information-outline" 
                                       data-toggle="tooltip" 
                                       data-placement="right" 
                                       title="Parent ranks allow this rank to inherit permissions from other ranks"></i>
                                </h4>
                                <p class="card-description">Ranks that this rank inherits from</p>
                                
                                <!-- Add Parent Form -->
                                <form class="forms-sample mb-4" th:action="@{'/api/change-rank/' + ${rank.id}}" method="post">
                                    <input type="hidden" name="parentAction" value="add">
                                    <div class="form-group">
                                        <label>Add Parent Rank</label>
                                        <select name="parentId" class="form-control" required>
                                            <option value="">Select a rank...</option>
                                            <option th:each="r : ${allRanks}" 
                                                    th:value="${r.id}" 
                                                    th:text="${r.displayName + ' (' + r.id + ')'}"></option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success" 
                                            data-toggle="tooltip" 
                                            data-placement="top" 
                                            title="Add this rank as a parent to inherit its permissions">Add Parent</button>
                                </form>
                                
                                <!-- Current Parents -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Rank</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="parent : ${parentRanks}">
                                            <td>
                                                <label class="badge" 
                                                       th:style="@{'background: ' + ${parent.getHexCodeFromColorCode()}}"
                                                       th:text="${parent.displayName}"></label>
                                                <small class="text-muted" th:text="'(' + ${parent.id} + ')'"></small>
                                            </td>
                                            <td>
                                                <form class="d-inline" th:action="@{'/api/change-rank/' + ${rank.id}}" method="post">
                                                    <input type="hidden" name="parentId" th:value="${parent.id}">
                                                    <input type="hidden" name="parentAction" value="remove">
                                                    <button type="submit" class="btn btn-sm btn-danger" 
                                                            data-toggle="tooltip" 
                                                            data-placement="top" 
                                                            title="Remove this parent rank">Remove</button>
                                                </form>
                                            </td>
                                        </tr>
                                        <tr th:if="${parentRanks == null || parentRanks.isEmpty()}">
                                            <td colspan="2" class="text-center text-muted">No parent ranks</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Child Ranks Section -->
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Child Ranks
                                    <i class="mdi mdi-information-outline" 
                                       data-toggle="tooltip" 
                                       data-placement="right" 
                                       title="Ranks that have this rank as a parent and inherit permissions from this rank"></i>
                                </h4>
                                <p class="card-description">Ranks that inherit from this rank</p>
                                
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Rank</th>
                                            <th>Weight</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="child : ${childRanks}">
                                            <td>
                                                <a th:href="@{'/api/rank-editor/' + ${child.id}}">
                                                    <label class="badge" 
                                                           th:style="@{'background: ' + ${child.getHexCodeFromColorCode()}}"
                                                           th:text="${child.displayName}"></label>
                                                </a>
                                                <small class="text-muted" th:text="'(' + ${child.id} + ')'"></small>
                                            </td>
                                            <td th:text="${child.weight}"></td>
                                        </tr>
                                        <tr th:if="${childRanks == null || childRanks.isEmpty()}">
                                            <td colspan="2" class="text-center text-muted">No child ranks</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container-scroller -->
<!-- Custom js -->
<script th:src="@{/js/theme.js}"></script>
<script th:src="@{/js/menu.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (typeof $ !== 'undefined' && $.fn.tooltip) {
            $('[data-toggle="tooltip"]').tooltip();
        }
    });
</script>
<!-- End custom js -->
</body>
</html>